div{
    background-color: rgb(42, 165, 114);
border-radius: 30px;
padding: 30px 100px 30px 50px ;
float: left;
margin: 30px 20px 0px 20px ;






}
.y{
    background-color: rgb(91, 167, 47);
border-radius: 30px;
margin: 30px 20px 0px 20px ;
padding: 30px 80px 30px 50px ;
float: left;



}
#x{
padding: 10px;
height: 70px ;

    width: 70px;
}